openapi: 3.0.0

info:
  title: Plataforma de Auditoria Fiscal Preventiva (CFDI Intelligence)
  version: 1.0.0
  description: |
    API REST para la plataforma de deteccion automatica de riesgos fiscales.
    Permite gestionar empresas, ingestar CFDIs y estados de cuenta bancarios,
    conciliar movimientos, detectar riesgos fiscales, calcular scoring de
    cumplimiento y descargar CFDIs directamente del SAT via FIEL (e.firma).

    **Autenticacion**: Todos los endpoints (excepto /auth/register, /auth/login
    y /health) requieren un Bearer Token JWT obtenido al autenticarse.

    **Vencimiento del token**: 8 horas desde su emision.

servers:
  - url: https://api.cfdi-intelligence.com
    description: Produccion
  - url: http://localhost:8000
    description: Desarrollo local

tags:
  - name: Información fiscal
    description: Constancia de situación fiscal y opinión de cumplimiento por empresa (F8)
  - name: Cuenta
    description: Contraseña del usuario y usuarios de cada empresa con su rol (U1)
  - name: Validaciones de CFDI
    description: CFDI con posibles situaciones incorrectas, por periodo y acumulado (V1)
  - name: Suscripción
    description: Planes, límite de RFC y asignación manual (M7.1)
  - name: Preferencias
    description: Orden y visibilidad de columnas de las tablas, por usuario
  - name: Sistema
    description: Estado y salud del sistema
  - name: Auth
    description: Registro, login y perfil de usuario
  - name: Empresas
    description: Gestion de empresas vinculadas al contador
  - name: Constancia
    description: Extraccion de datos desde la Constancia de Situacion Fiscal del SAT
  - name: Ingesta
    description: Carga de CFDIs (XML) y estados de cuenta bancarios
  - name: Riesgos
    description: Deteccion y gestion de riesgos fiscales
  - name: Acciones
    description: Ejecucion de acciones sobre detecciones de riesgo
  - name: Scoring
    description: Scoring de cumplimiento fiscal por empresa y periodo
  - name: Conciliacion
    description: Conciliacion de movimientos bancarios con CFDIs
  - name: Cierre
    description: Vista de cierre mensual con bloqueos y acciones pendientes
  - name: CFDI
    description: Listado unificado de CFDI emitidos y recibidos (todos los tipos), detalle, XML y exportacion
  - name: Dashboard
    description: Vista consolidada de indicadores fiscales
  - name: SAT FIEL
    description: Descarga masiva de CFDIs directamente del SAT usando la e.firma
  - name: Admin
    description: Administración de usuarios y métricas de la plataforma (requiere rol admin)
  - name: Movimientos
    description: Movimientos bancarios y categorías de clasificación
  - name: Reportes
    description: Cédulas fiscales (IVA, ISR, deducciones, DIOT) y exportables en Excel

security:
  - BearerAuth: []

paths:

  # ============================================================
  # SISTEMA
  # ============================================================

  /api/health:
    get:
      operationId: healthCheck
      tags: [Sistema]
      summary: Verificar estado del sistema
      description: Retorna el estado operativo de la API y su version. No requiere autenticacion.
      security: []
      responses:
        '200':
          description: Sistema operativo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                estado: operativo
                version: "1.0.0"

  # ============================================================
  # AUTH
  # ============================================================

  /api/v1/auth/register:
    post:
      operationId: registrarUsuario
      tags: [Auth]
      summary: Registrar nuevo contador
      description: |
        Crea una cuenta de usuario (contador) y retorna un JWT listo para usarse.
        Las empresas se vinculan posteriormente mediante POST /api/v1/mis-empresas.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            example:
              email: contador@despacho.com
              password: "Segura2024!"
              nombre: "Carlos Hernandez"
      responses:
        '201':
          description: Usuario registrado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                token_type: bearer
                user_id: "550e8400-e29b-41d4-a716-446655440000"
                email: contador@despacho.com
                nombre: "Carlos Hernandez"
                empresas: []
        '409':
          $ref: '#/components/responses/ConflictError'

  /api/v1/auth/login:
    post:
      operationId: loginUsuario
      tags: [Auth]
      summary: Autenticar contador
      description: |
        Autentica al contador y retorna un JWT junto con la lista de empresas
        que administra.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: contador@despacho.com
              password: "Segura2024!"
      responses:
        '200':
          description: Autenticacion exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                token_type: bearer
                user_id: "550e8400-e29b-41d4-a716-446655440000"
                nombre: "Carlos Hernandez"
                rol: contador
                empresas:
                  - empresa_id: "a1b2c3d4-0001-0001-0001-000000000001"
                    rfc: XAXX010101000
                    razon_social: "Empresa Ejemplo SA de CV"
                    regimen_fiscal: "601"
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/v1/auth/me:
    get:
      operationId: obtenerPerfil
      tags: [Auth]
      summary: Obtener perfil del usuario autenticado
      description: |
        Retorna los datos del usuario autenticado y la lista de empresas
        que administra.
      responses:
        '200':
          description: Datos del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioPerfil'
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                email: contador@despacho.com
                nombre: "Carlos Hernandez"
                telefono: "5512345678"
                rfc: "HECA800101ABC"
                nombre_despacho: "Despacho Fiscal Hernandez"
                cedula_profesional: "12345678"
                empresas:
                  - empresa_id: "a1b2c3d4-0001-0001-0001-000000000001"
                    rfc: XAXX010101000
                    razon_social: "Empresa Ejemplo SA de CV"
                    regimen_fiscal: "601"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/v1/usuarios/perfil:
    patch:
      operationId: actualizarPerfil
      tags: [Auth]
      summary: Actualizar perfil del contador
      description: |
        Actualiza uno o mas campos del perfil del usuario autenticado.
        Solo se actualizan los campos enviados en el cuerpo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualizarPerfilRequest'
            example:
              nombre: "Carlos G. Hernandez"
              telefono: "5598765432"
              nombre_despacho: "Despacho Fiscal HGC"
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioPerfil'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # CONSTANCIA
  # ============================================================

  /api/v1/constancia/parsear:
    post:
      operationId: parsearConstancia
      tags: [Constancia]
      summary: Extraer datos de Constancia de Situacion Fiscal
      description: |
        Recibe un archivo PDF de la Constancia de Situacion Fiscal emitida por el SAT
        y extrae los datos fiscales estructurados: RFC, razon social, regimen fiscal,
        codigo postal, CURP, obligaciones, etc.

        Requiere autenticacion. El PDF se procesa en memoria y no se conserva
        en el servidor.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [archivo]
              properties:
                archivo:
                  type: string
                  format: binary
                  description: Archivo PDF de la Constancia de Situacion Fiscal del SAT
      responses:
        '200':
          description: Datos fiscales extraidos del PDF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstanciaParseada'
              example:
                rfc: "XAXX010101000"
                razon_social: "Empresa Ejemplo SA de CV"
                regimen_fiscal: "601"
                cp_fiscal: "06600"
                curp: null
                obligaciones: ["IVA mensual", "ISR mensual"]
                representante_legal: "Juan Perez Lopez"
                rfc_representante: "PELJ800101ABC"
        '400':
          description: El archivo no es PDF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "El archivo debe ser PDF"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/UnprocessableError'
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================
  # EMPRESAS
  # ============================================================

  /api/v1/empresas:
    get:
      operationId: listarEmpresas
      tags: [Empresas]
      summary: Listar empresas del contador
      description: |
        Retorna todas las empresas activas vinculadas al contador autenticado,
        ordenadas por fecha de vinculacion ascendente.
      responses:
        '200':
          description: Lista de empresas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Empresa'
              example:
                - id: "a1b2c3d4-0001-0001-0001-000000000001"
                  rfc: "XAXX010101000"
                  razon_social: "Empresa Ejemplo SA de CV"
                  regimen_fiscal: "601"
                  cp_fiscal: "06600"
                  activo: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/v1/mis-empresas:
    post:
      operationId: agregarEmpresa
      tags: [Empresas]
      summary: Agregar empresa al contador
      description: |
        Crea una nueva empresa y la vincula al contador autenticado. La operacion
        es idempotente: si el contador ya esta vinculado a la empresa con ese RFC,
        responde con exito sin crear un duplicado.

        Si el RFC ya pertenece a una empresa a la que el contador no esta
        vinculado, se rechaza con 409: conocer un RFC no da acceso a sus datos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgregarEmpresaRequest'
            example:
              rfc: "XAXX010101000"
              razon_social: "Empresa Ejemplo SA de CV"
              regimen_fiscal: "601"
              cp_fiscal: "06600"
              curp: null
              obligaciones: ["IVA mensual", "ISR mensual"]
              representante_legal: "Juan Perez Lopez"
              rfc_representante: "PELJ800101ABC"
      responses:
        '201':
          description: Empresa vinculada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpresaVinculadaResponse'
              example:
                mensaje: "Empresa vinculada correctamente"
                empresa_id: "a1b2c3d4-0001-0001-0001-000000000001"
                rfc: "XAXX010101000"
                razon_social: "Empresa Ejemplo SA de CV"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: El RFC ya pertenece a una empresa a la que el contador no esta vinculado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "Ya existe una empresa registrada con ese RFC. Solicita acceso a quien la administra."

  /api/v1/empresas/{empresa_id}:
    get:
      operationId: obtenerEmpresa
      tags: [Empresas]
      summary: Obtener detalle de una empresa
      description: |
        Retorna todos los datos de una empresa especifica. El usuario autenticado
        debe tener acceso a la empresa.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Datos de la empresa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empresa'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/v1/empresas/{empresa_id}/impuestos:
    patch:
      operationId: actualizarImpuestos
      tags: [Empresas]
      summary: Actualizar impuestos a declarar
      description: |
        Actualiza la lista de impuestos que la empresa debe declarar.
        Valores validos: iva, isr, ieps, ret_iva, ret_isr, diot.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpuestosRequest'
            example:
              impuestos: ["iva", "isr", "ret_iva"]
      responses:
        '200':
          description: Impuestos actualizados
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  impuestos:
                    type: array
                    items:
                      type: string
              example:
                ok: true
                impuestos: ["iva", "isr", "ret_iva"]
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # INGESTA
  # ============================================================

  /api/v1/empresas/{empresa_id}/cfdi/upload:
    post:
      operationId: subirCFDI
      tags: [Ingesta]
      summary: Cargar archivos CFDI (XML)
      description: |
        Recibe uno o varios archivos XML de CFDI, los parsea, inserta en la base
        de datos y ejecuta el pipeline completo:
        - Conciliacion bancaria
        - Deteccion de riesgos fiscales
        - Calculo de scoring fiscal

        Los CFDIs duplicados (mismo UUID) son ignorados silenciosamente.
        Si el CFDI es un Complemento de Pago (tipo P), se procesan y vinculan
        los documentos relacionados automaticamente.

        **Formato periodo**: YYYY-MM (ejemplo: 2024-01)
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [archivos, periodo]
              properties:
                archivos:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Uno o varios archivos XML de CFDI
                periodo:
                  type: string
                  pattern: '^\d{4}-\d{2}$'
                  description: Periodo fiscal en formato YYYY-MM
                  example: "2024-01"
      responses:
        '200':
          description: Resultado del procesamiento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestaResponse'
              example:
                mensaje: "5 CFDI procesados correctamente"
                registros_procesados: 5
                errores: ["factura_erronea.xml: UUID invalido"]
                periodo: "2024-01"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/v1/empresas/{empresa_id}/banco/upload:
    post:
      operationId: subirEstadoCuenta
      tags: [Ingesta]
      summary: Cargar estado de cuenta bancario
      description: |
        Recibe un estado de cuenta en formato CSV o XLSX, parsea los movimientos
        bancarios y ejecuta el pipeline de conciliacion, riesgos y scoring.

        El parser detecta automaticamente el formato segun la extension del archivo
        (.xlsx o .csv) y el banco especificado.

        **Formato periodo**: YYYY-MM (ejemplo: 2024-01)
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [archivo, banco, periodo]
              properties:
                archivo:
                  type: string
                  format: binary
                  description: Archivo CSV o XLSX del estado de cuenta bancario
                banco:
                  type: string
                  description: Identificador del banco (bbva, santander, banamex, etc.)
                  example: "bbva"
                periodo:
                  type: string
                  pattern: '^\d{4}-\d{2}$'
                  description: Periodo fiscal en formato YYYY-MM
                  example: "2024-01"
      responses:
        '200':
          description: Resultado del procesamiento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestaResponse'
              example:
                mensaje: "42 movimientos procesados"
                registros_procesados: 42
                errores: []
                periodo: "2024-01"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # RIESGOS
  # ============================================================

  /api/v1/empresas/{empresa_id}/riesgos:
    get:
      operationId: listarRiesgos
      tags: [Riesgos]
      summary: Listar riesgos fiscales detectados
      description: |
        Retorna las detecciones de riesgo fiscal para la empresa, ordenadas
        por severidad (critico > alto > medio > bajo) y fecha de deteccion.

        Se puede filtrar por periodo, severidad y estado.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - name: periodo
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Filtrar por periodo YYYY-MM
          example: "2024-01"
        - name: severidad
          in: query
          schema:
            type: string
            enum: [critico, alto, medio, bajo]
          description: Filtrar por nivel de severidad
        - name: estado
          in: query
          schema:
            type: string
            enum: [abierto, en_revision, en_espera_cfdi, confirmado, resuelto, descartado, pendiente]
            default: abierto
          description: Filtrar por estado de la deteccion
      responses:
        '200':
          description: Lista de riesgos detectados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiesgosResponse'
              example:
                total: 3
                riesgos:
                  - id: "d1e2f3a4-0001-0001-0001-000000000001"
                    codigo: "R001"
                    nombre: "Ingreso sin CFDI"
                    severidad: critico
                    monto_afectado: 50000.00
                    descripcion: "Deposito bancario sin comprobante fiscal correspondiente"
                    estado: abierto
                    periodo: "2024-01"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/v1/riesgos/{riesgo_id}/resolver:
    patch:
      operationId: resolverRiesgo
      tags: [Riesgos]
      summary: Marcar riesgo como resuelto
      description: |
        Marca una deteccion de riesgo como resuelta. Opcionalmente se pueden
        agregar notas de resolucion.
      parameters:
        - name: riesgo_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la deteccion de riesgo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notas:
                  type: string
                  description: Notas sobre la resolucion del riesgo
            example:
              notas: "Se emitio el CFDI faltante con folio 2024-0123"
      responses:
        '200':
          description: Riesgo marcado como resuelto
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                  riesgo_id:
                    type: string
                  estado:
                    type: string
              example:
                mensaje: "Riesgo marcado como resuelto"
                riesgo_id: "d1e2f3a4-0001-0001-0001-000000000001"
                estado: resuelto
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # ACCIONES
  # ============================================================

  /api/v1/acciones/{deteccion_id}/ejecutar:
    post:
      operationId: ejecutarAccion
      tags: [Acciones]
      summary: Ejecutar accion sobre una deteccion
      description: |
        Ejecuta una accion de flujo de trabajo sobre una deteccion de riesgo
        y actualiza su estado segun la accion:

        | Accion | Estado resultante |
        |--------|------------------|
        | marcar_revisado | en_revision |
        | solicitar_cfdi | en_espera_cfdi |
        | emitir_cfdi | en_espera_cfdi |
        | confirmar_match | confirmado |
        | descartar | descartado |
        | resolver | resuelto |
      parameters:
        - name: deteccion_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la deteccion sobre la que se ejecuta la accion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccionRequest'
            example:
              tipo: marcar_revisado
              notas: "Pendiente de verificacion con el cliente"
      responses:
        '200':
          description: Accion ejecutada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccionResponse'
              example:
                deteccion_id: "d1e2f3a4-0001-0001-0001-000000000001"
                estado_anterior: abierto
                estado_nuevo: en_revision
        '400':
          description: Tipo de accion desconocido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "Tipo de accion desconocido: accion_invalida"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # SCORING
  # ============================================================

  /api/v1/empresas/{empresa_id}/scoring:
    get:
      operationId: obtenerScoring
      tags: [Scoring]
      summary: Obtener scoring fiscal
      description: |
        Retorna el scoring de cumplimiento fiscal para la empresa.
        Si se especifica periodo, retorna el scoring de ese periodo especifico.
        Si no, retorna el scoring del periodo mas reciente disponible.

        **Clasificaciones**: AAA (95-100), AA (85-94), A (75-84), BBB (60-74),
        BB (45-59), B (30-44), CCC (<30)
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - name: periodo
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Periodo YYYY-MM (si se omite retorna el mas reciente)
          example: "2024-01"
      responses:
        '200':
          description: Scoring fiscal del periodo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringFiscal'
              example:
                id: "s1s2s3s4-0001-0001-0001-000000000001"
                empresa_id: "a1b2c3d4-0001-0001-0001-000000000001"
                periodo: "2024-01"
                score_total: 82.5
                clasificacion: "A"
                total_cfdi_ingresos: 15
                total_cfdi_egresos: 8
                total_movimientos: 45
                total_conciliados: 38
                total_riesgos_criticos: 0
                total_riesgos_altos: 1
                total_riesgos_medios: 3
                total_riesgos_bajos: 2
                total_ingresos_cfdi: 250000.00
                total_egresos_cfdi: 85000.00
                total_depositos_banco: 255000.00
                total_cargos_banco: 90000.00
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Sin scoring para este periodo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "Sin scoring para este periodo"

  /api/v1/empresas/{empresa_id}/scoring/historial:
    get:
      operationId: historialScoring
      tags: [Scoring]
      summary: Historial de scoring fiscal
      description: |
        Retorna el historial completo de scoring fiscal de la empresa,
        ordenado cronologicamente. Util para graficar tendencias de cumplimiento.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Historial de scores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistorialScoringResponse'
              example:
                historial:
                  - periodo: "2023-11"
                    score: 75.0
                    clasificacion: "A"
                  - periodo: "2023-12"
                    score: 80.0
                    clasificacion: "A"
                  - periodo: "2024-01"
                    score: 82.5
                    clasificacion: "A"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================================
  # CONCILIACION
  # ============================================================

  /api/v1/empresas/{empresa_id}/conciliaciones:
    get:
      operationId: listarConciliaciones
      tags: [Conciliacion]
      summary: Resumen de conciliacion bancaria
      description: |
        Retorna un resumen de los tipos de match en la conciliacion bancaria.
        El porcentaje de conciliacion incluye matches exactos y parciales.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - name: periodo
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Filtrar por periodo YYYY-MM
          example: "2024-01"
      responses:
        '200':
          description: Resumen de conciliacion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumenConciliacion'
              example:
                total: 45
                exacto: 30
                parcial: 8
                sin_cfdi: 5
                sin_movimiento: 2
                pct_conciliado: 84.4
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/empresas/{empresa_id}/conciliaciones/accionables:
    get:
      operationId: conciliacionesAccionables
      tags: [Conciliacion]
      summary: Conciliaciones accionables
      description: |
        Retorna los pares sin_cfdi y parciales con contexto completo del
        movimiento bancario. Util para mostrar al usuario que movimientos
        necesitan accion. Limitado a 100 registros por consulta.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - name: periodo
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Filtrar por periodo YYYY-MM
          example: "2024-01"
      responses:
        '200':
          description: Pares accionables de conciliacion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciliacionesAccionablesResponse'
              example:
                total: 5
                pares:
                  - id: "c1c2c3c4-0001-0001-0001-000000000001"
                    tipo_match: sin_cfdi
                    monto_movimiento: 15000.00
                    monto_cfdi: null
                    diferencia: 15000.00
                    porcentaje_match: 0.0
                    periodo: "2024-01"
                    movimiento_id: "m1m2m3m4-0001-0001-0001-000000000001"
                    mov_fecha: "2024-01-15"
                    concepto: "DEPOSITO CLIENTE XYZ"
                    mov_monto: 15000.00
                    mov_tipo: deposito
                    rfc_detectado: "XAXX010101000"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================================
  # CIERRE
  # ============================================================

  /api/v1/empresas/{empresa_id}/periodos:
    get:
      operationId: listarPeriodos
      tags: [Cierre]
      summary: Listar periodos con datos
      description: |
        Lista los ultimos 24 periodos (YYYY-MM) que tienen datos cargados
        para la empresa (CFDIs, movimientos bancarios o scoring).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Lista de periodos disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  periodos:
                    type: array
                    items:
                      type: string
              example:
                periodos: ["2024-01", "2023-12", "2023-11"]
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/empresas/{empresa_id}/cierre/{periodo}:
    get:
      operationId: vistaCierre
      tags: [Cierre]
      summary: Vista de cierre mensual
      description: |
        Vista consolidada para el cierre mensual. Responde:
        - Puede cerrar el periodo?
        - Que bloquea el cierre?
        - Que acciones hay pendientes?

        **Criterios para poder cerrar**:
        - Sin riesgos criticos o altos abiertos
        - Conciliacion >= 80%
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - name: periodo
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Periodo fiscal YYYY-MM
          example: "2024-01"
      responses:
        '200':
          description: Estado del cierre mensual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VistaCierre'
              example:
                periodo: "2024-01"
                puede_cerrar: false
                razon_bloqueo: "2 riesgos altos abiertos · conciliacion al 76.5% (minimo 80%)"
                score: 75.0
                bloqueadores: []
                acciones: []
                conciliacion:
                  sin_cfdi: 5
                  sin_movimiento: 2
                  matches_debiles: 3
                  pct_conciliado: 76.5
                  total: 38
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================================
  # EMITIDOS / RECIBIDOS
  # ============================================================

  /api/v1/empresas/{empresa_id}/cfdis:
    get:
      operationId: listarCfdis
      tags: [CFDI]
      summary: Listado paginado de CFDI (emitidos o recibidos, por tipo)
      description: |
        Una pagina del listado con todas las columnas del catalogo. Filtra,
        ordena y pagina en el servidor. `orden`, `dir` y los campos y operadores
        de `filtros` solo aceptan valores del catalogo (`/cfdis/columnas`);
        cualquier otro responde 422. Las fechas van en ISO 8601 sin zona
        (`2026-09-01T10:53:29`): son la hora local del comprobante y no deben
        convertirse. Los importes van como numero; las columnas de tipo `lista`
        como arreglo o null.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: direccion, in: query, required: true, schema: { type: string, enum: [emitidos, recibidos] } }
        - { name: periodo, in: query, required: true, schema: { type: string, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' }, description: Periodo YYYY-MM por fecha de emision }
        - { name: tipo, in: query, schema: { type: string, enum: [I, E, T, N, P], default: I } }
        - { name: estado, in: query, schema: { type: string, enum: [vigente, cancelado, todos], default: vigente } }
        - { name: metodo, in: query, schema: { type: string, enum: [PUE, PPD, todos], default: todos } }
        - { name: pago, in: query, schema: { type: string, enum: [pendientes, pagadas, todos], default: todos }, description: Solo aplica con metodo=PPD }
        - { name: q, in: query, schema: { type: string, maxLength: 100 }, description: 'Busca en UUID, RFC y nombre de la contraparte, serie y folio' }
        - { name: filtros, in: query, schema: { type: string }, description: 'JSON: lista de hasta 10 objetos {campo, op, valor}' }
        - { name: orden, in: query, schema: { type: string, default: fecha_emision }, description: Clave de una columna ordenable }
        - { name: dir, in: query, schema: { type: string, enum: [asc, desc], default: asc } }
        - { name: pagina, in: query, schema: { type: integer, minimum: 1, maximum: 100000, default: 1 } }
        - { name: por_pagina, in: query, schema: { type: integer, enum: [30, 50, 100], default: 30 } }
      responses:
        '200':
          description: Pagina del listado
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { type: object, additionalProperties: true } }
                  total: { type: integer }
                  pagina: { type: integer }
                  por_pagina: { type: integer }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: Parametro fuera del catalogo o mal formado

  /api/v1/empresas/{empresa_id}/cfdis/resumen:
    get:
      operationId: resumenCfdis
      tags: [CFDI]
      summary: Conteos por tipo y totales del listado de CFDI
      description: |
        Con los mismos filtros del listado: numero de CFDI por tipo de
        comprobante y totales en pesos del tipo activo, del periodo y del
        acumulado del ejercicio (enero al mes del periodo). Sin CFDI las cifras
        van en null. Incluye las advertencias de anticipos sin CFDI de egreso.
        Las cifras dependen del tipo y `cifras` las enumera (clave, etiqueta y
        formato `entero` o `moneda`): Ingreso, Egreso y Traslado traen
        retenciones, traslados, subtotal, descuento, neto y total; Nomina trae
        empleados, sueldos, otras percepciones, gravado, exento, ISR retenido,
        otras deducciones, subsidio causado y neto a pagar; Pago trae las bases
        de IVA al 16, 8 y 0 % y exento, traslado y retencion de IVA, total y
        documentos relacionados (de pago20:Totales; un REP de Pagos 1.0 no las
        trae y queda en null).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: direccion, in: query, required: true, schema: { type: string, enum: [emitidos, recibidos] } }
        - { name: periodo, in: query, required: true, schema: { type: string, pattern: '^\d{4}-(0[1-9]|1[0-2])$' } }
        - { name: tipo, in: query, schema: { type: string, enum: [I, E, T, N, P], default: I } }
        - { name: estado, in: query, schema: { type: string, enum: [vigente, cancelado, todos], default: vigente } }
        - { name: metodo, in: query, schema: { type: string, enum: [PUE, PPD, todos], default: todos } }
        - { name: pago, in: query, schema: { type: string, enum: [pendientes, pagadas, todos], default: todos } }
        - { name: q, in: query, schema: { type: string, maxLength: 100 } }
        - { name: filtros, in: query, schema: { type: string } }
      responses:
        '200':
          description: Conteos y totales
          content:
            application/json:
              schema:
                type: object
                properties:
                  conteos: { type: object, additionalProperties: { type: integer } }
                  cifras:
                    type: array
                    items:
                      type: object
                      properties:
                        clave: { type: string }
                        etiqueta: { type: string }
                        formato: { type: string, enum: [entero, moneda] }
                  totales:
                    type: object
                    properties:
                      periodo: { type: object, additionalProperties: true }
                      acumulado: { type: object, additionalProperties: true }
                  advertencias: { type: array, items: { type: object, additionalProperties: true } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: Parametro fuera del catalogo o mal formado

  /api/v1/empresas/{empresa_id}/cfdis/columnas:
    get:
      operationId: columnasCfdis
      tags: [CFDI]
      summary: Catalogo de columnas del listado de CFDI
      description: |
        Columnas de encabezado y de concepto con su etiqueta, tipo de dato,
        visibilidad por defecto y si se pueden ordenar o filtrar. Nomina (N) y
        Pago (P) tienen su propio juego de columnas; Ingreso, Egreso y Traslado
        comparten el de comprobante.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: direccion, in: query, required: true, schema: { type: string, enum: [emitidos, recibidos] } }
        - { name: tipo, in: query, schema: { type: string, enum: [I, E, T, N, P], default: I } }
      responses:
        '200':
          description: Catalogo de columnas
          content:
            application/json:
              schema:
                type: object
                properties:
                  encabezado: { type: array, items: { type: object, additionalProperties: true } }
                  concepto: { type: array, items: { type: object, additionalProperties: true } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: direccion o tipo invalido

  /api/v1/empresas/{empresa_id}/cfdis/exportar:
    get:
      operationId: exportarCfdis
      tags: [CFDI]
      summary: Exportar a Excel el listado de CFDI filtrado
      description: |
        Libro .xlsx con todas las filas que cumplen los filtros (sin paginar),
        las columnas de `columnas` en ese orden (sin `columnas`, las visibles por
        defecto del catalogo) y una hoja `Totales` con el periodo y el
        acumulado, las mismas cifras que `/cfdis/resumen`. Maximo 50,000 filas:
        con mas responde 422 pidiendo acotar los filtros. Cada exportacion se
        registra en la auditoria (`cfdi_exportado`).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: direccion, in: query, required: true, schema: { type: string, enum: [emitidos, recibidos] } }
        - { name: periodo, in: query, required: true, schema: { type: string, pattern: '^\d{4}-(0[1-9]|1[0-2])$' } }
        - { name: tipo, in: query, schema: { type: string, enum: [I, E, T, N, P], default: I } }
        - { name: estado, in: query, schema: { type: string, enum: [vigente, cancelado, todos], default: vigente } }
        - { name: metodo, in: query, schema: { type: string, enum: [PUE, PPD, todos], default: todos } }
        - { name: pago, in: query, schema: { type: string, enum: [pendientes, pagadas, todos], default: todos } }
        - { name: q, in: query, schema: { type: string, maxLength: 100 } }
        - { name: filtros, in: query, schema: { type: string } }
        - { name: orden, in: query, schema: { type: string, default: fecha_emision } }
        - { name: dir, in: query, schema: { type: string, enum: [asc, desc], default: asc } }
        - { name: columnas, in: query, schema: { type: string }, description: 'Claves de columna separadas por coma, en el orden deseado' }
      responses:
        '200':
          description: Archivo Excel
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema: { type: string, format: binary }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: Parametro o columna fuera del catalogo, o mas de 50,000 filas

  /api/v1/preferencias/tablas/{vista}:
    parameters:
      - { name: vista, in: path, required: true, schema: { type: string, pattern: '^[A-Za-z0-9][A-Za-z0-9-]{0,79}$' }, description: 'Tabla a la que aplica, por ejemplo cfdi-emitidos-I' }
    get:
      operationId: leerPreferenciaTabla
      tags: [Preferencias]
      summary: Orden y visibilidad de columnas guardados por el usuario
      description: |
        `columnas` es null si el usuario no ha guardado nada: la pantalla usa
        entonces el orden y la visibilidad del catalogo. Las claves que ya no
        existan en el catalogo se ignoran al aplicarlas.
      responses:
        '200':
          description: Preferencia del usuario
          content:
            application/json:
              schema:
                type: object
                properties:
                  columnas:
                    type: array
                    nullable: true
                    items: { type: object, properties: { clave: { type: string }, visible: { type: boolean } } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          description: vista invalida
    put:
      operationId: guardarPreferenciaTabla
      tags: [Preferencias]
      summary: Guardar orden y visibilidad de columnas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [columnas]
              properties:
                columnas:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required: [clave, visible]
                    properties: { clave: { type: string }, visible: { type: boolean } }
      responses:
        '200':
          description: Preferencia guardada
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          description: vista, claves o cuerpo invalidos
    delete:
      operationId: restablecerPreferenciaTabla
      tags: [Preferencias]
      summary: Restablecer las columnas al catalogo
      responses:
        '204':
          description: Preferencia eliminada
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          description: vista invalida

  /api/v1/empresas/{empresa_id}/cfdis/{uuid}:
    get:
      operationId: detalleCfdi
      tags: [CFDI]
      summary: Detalle de un CFDI (visor y conceptos desplegables)
      description: |
        Encabezado completo (con descripciones de catalogo y saldo), emisor y
        receptor, impuestos por tasa, conceptos (hasta 500; `total_conceptos`
        indica el total real), pagos que lo liquidan y CFDI relacionados.
        Las fechas viajan en ISO 8601 sin zona (hora local del comprobante).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: uuid, in: path, required: true, schema: { type: string, maxLength: 36 } }
      responses:
        '200':
          description: Detalle del CFDI
          content:
            application/json:
              schema:
                type: object
                properties:
                  encabezado: { type: object, additionalProperties: true }
                  emisor: { type: object, additionalProperties: true }
                  receptor: { type: object, additionalProperties: true }
                  impuestos: { type: array, items: { type: object, additionalProperties: true } }
                  conceptos: { type: array, items: { type: object, additionalProperties: true } }
                  total_conceptos: { type: integer }
                  pagos: { type: array, items: { type: object, additionalProperties: true } }
                  relacionados: { type: array, items: { type: object, additionalProperties: true } }
                  tiene_xml: { type: boolean }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: El UUID no pertenece a la empresa

  /api/v1/empresas/{empresa_id}/cfdis/{uuid}/xml:
    get:
      operationId: xmlCfdi
      tags: [CFDI]
      summary: Descarga el XML guardado del CFDI
      description: |
        Responde `application/xml` como adjunto `<uuid>.xml`. Cada descarga
        queda registrada en la auditoria (`cfdi_xml_descargado`).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: uuid, in: path, required: true, schema: { type: string, maxLength: 36 } }
      responses:
        '200':
          description: XML del comprobante
          content:
            application/xml:
              schema: { type: string }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: No pertenece a la empresa o no hay XML guardado

  /api/v1/empresas/{empresa_id}/inicio/resumen:
    get:
      operationId: resumenInicio
      tags: [Inicio]
      summary: Ingresos y gastos netos del periodo y del ejercicio, y los ultimos 12 meses
      description: |
        Lo facturado (devengado por fecha de emision), sin IVA: CFDI vigentes de tipo
        Ingreso menos notas de credito (Egreso), sin anticipos SAT, convertidos a pesos
        con el tipo de cambio del comprobante. Ingresos son los emitidos por la empresa
        y gastos los recibidos; la nomina emitida va aparte (`gastos.nomina`) y no se
        suma a `gastos.neto`. El acumulado va de enero del ejercicio al periodo.
        `meses` trae siempre 12 elementos terminando en el periodo.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: periodo, in: query, required: true, schema: { type: string, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' } }
      responses:
        '200':
          description: Resumen del Inicio
          content:
            application/json:
              schema:
                type: object
                properties:
                  empresa_id: { type: string }
                  periodo: { type: string }
                  ejercicio: { type: integer }
                  ingresos: { type: object, additionalProperties: true }
                  gastos: { type: object, additionalProperties: true }
                  meses: { type: array, items: { type: object, additionalProperties: true } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: periodo mal formado

  /api/v1/empresas/{empresa_id}/inicio/iva-anual:
    get:
      operationId: ivaAnualInicio
      tags: [Inicio]
      summary: IVA del ejercicio mes por mes (flujo de efectivo)
      description: |
        Trasladado cobrado, acreditable pagado y resultado de cada mes, calculados con
        el mismo motor (`iva_flujo`) que la cedula de IVA (`/cedula-iva/{periodo}`) y la
        pantalla de IVA base flujo, por lo que coinciden con ellas. Incluye las retenciones de
        IVA a favor (`iva_retenido_incluido: true`); el factor de prorrateo es 1. Con `periodo`,
        los meses posteriores salen en cero. `totales` trae `total_a_cargo` y `total_a_favor`
        por separado: no se compensa un mes a favor contra otro a cargo (LIVA 6).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: ejercicio, in: query, required: true, schema: { type: integer, minimum: 2000, maximum: 2099 } }
        - { name: periodo, in: query, schema: { type: string, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' } }
      responses:
        '200':
          description: IVA anual
          content:
            application/json:
              schema:
                type: object
                properties:
                  empresa_id: { type: string }
                  ejercicio: { type: integer }
                  factor_prorrateo: { type: number }
                  iva_retenido_incluido: { type: boolean }
                  meses: { type: array, items: { type: object, additionalProperties: true } }
                  totales: { type: object, additionalProperties: true }
                  advertencias:
                    type: array
                    description: Limitaciones del calculo que aplican a los datos del ejercicio (`cfdi` es null en las que no dependen de ellos)
                    items: { type: object, additionalProperties: true }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: ejercicio o periodo invalido

  /api/v1/empresas/{empresa_id}/iva-flujo/ajustes:
    get:
      operationId: listarAjustesIva
      tags: [IVA por flujo]
      summary: Ajustes manuales del IVA (no considerar y periodo reasignado)
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Ajustes vigentes, del mas reciente al mas antiguo
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { type: object, additionalProperties: true } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    put:
      operationId: guardarAjusteIva
      tags: [IVA por flujo]
      summary: Crea o reemplaza el ajuste de un CFDI en una direccion
      description: |
        `excluir` saca el CFDI de las sumas del IVA; `reasignar` mueve su efecto a
        `periodo_destino` (YYYY-MM). Es unico por (empresa, CFDI, direccion) y queda en
        `auditoria` (`iva_ajuste`) con usuario y motivo.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [uuid, direccion, accion]
              properties:
                uuid: { type: string, maxLength: 36 }
                direccion: { type: string, enum: [trasladado, acreditable] }
                accion: { type: string, enum: [excluir, reasignar] }
                periodo_destino: { type: string, nullable: true, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' }
                motivo: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Ajuste guardado
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: El CFDI no es de la empresa, no es Ingreso/Egreso o no corresponde a esa direccion
        '422':
          description: Combinacion invalida (reasignar sin destino, excluir con destino, destino igual al mes de emision de un PUE)

  /api/v1/empresas/{empresa_id}/iva-flujo/ajustes/{direccion}/{uuid}:
    delete:
      operationId: quitarAjusteIva
      tags: [IVA por flujo]
      summary: Retira un ajuste del IVA
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: direccion, in: path, required: true, schema: { type: string, enum: [trasladado, acreditable] } }
        - { name: uuid, in: path, required: true, schema: { type: string, maxLength: 36 } }
      responses:
        '204':
          description: Ajuste retirado (queda en auditoria como `iva_ajuste_retirado`)
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: No hay un ajuste para ese CFDI y direccion

  /api/v1/empresas/{empresa_id}/iva-flujo/{periodo}:
    get:
      operationId: resumenIvaFlujo
      tags: [IVA por flujo]
      summary: IVA del mes por flujo de efectivo, por tasa y origen
      description: |
        Trasladado cobrado y acreditable pagado con bases e IVA al 16 %, 8 %, 0 %, exento y
        otras tasas, por origen (contado, cobro o pago de credito, notas de credito), mas lo
        no considerado, lo reasignado, las retenciones, el resultado del mes y las
        advertencias (pagos version 1.0 aproximados, descuadres, sin equivalencia).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: periodo, in: path, required: true, schema: { type: string, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' } }
        - { name: factor, in: query, schema: { type: number, minimum: 0, maximum: 1, default: 1 } }
      responses:
        '200':
          description: Resumen del IVA del periodo
          content:
            application/json:
              schema:
                type: object
                properties:
                  empresa_id: { type: string }
                  periodo: { type: string }
                  factor_prorrateo: { type: number }
                  trasladado: { type: object, additionalProperties: true }
                  acreditable: { type: object, additionalProperties: true }
                  retenciones_a_enterar: { type: number }
                  resultado: { type: object, additionalProperties: true }
                  advertencias: { type: array, items: { type: object, additionalProperties: true } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: periodo o factor invalido

  /api/v1/empresas/{empresa_id}/iva-flujo/{periodo}/detalle:
    get:
      operationId: detalleIvaFlujo
      tags: [IVA por flujo]
      summary: CFDI que componen una cifra del IVA por flujo
      description: |
        Renglones paginados por fecha de efecto con UUID, fecha de emision y de pago, UUID del
        REP, contraparte, bases e IVA por tasa, retencion, marcas, motivo y ajuste vigente.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: periodo, in: path, required: true, schema: { type: string, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' } }
        - { name: direccion, in: query, required: true, schema: { type: string, enum: [trasladado, acreditable] } }
        - { name: origen, in: query, required: true, schema: { type: string, enum: [contado, credito, notas_credito, no_considerados, reasignados] } }
        - { name: pagina, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: por_pagina, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 50 } }
      responses:
        '200':
          description: Pagina de renglones
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { type: object, additionalProperties: true } }
                  total: { type: integer }
                  pagina: { type: integer }
                  por_pagina: { type: integer }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: periodo, direccion, origen o paginacion invalidos

  /api/v1/empresas/{empresa_id}/iva-flujo/{periodo}/exportar:
    get:
      operationId: exportarIvaFlujo
      tags: [IVA por flujo]
      summary: Excel con el detalle de una cifra del IVA por flujo y el resumen del periodo
      description: |
        Hoja `Detalle` con todos los renglones de la tarjeta (bases e IVA por tasa, fecha de
        pago, UUID del REP, marcas, motivo y ajuste) y hoja `Resumen` con los origenes y el
        resultado del mes. Si la tarjeta pasa de 50,000 renglones responde 422 pidiendo acotar.
        Queda en la auditoria (`iva_flujo_exportado`).
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: periodo, in: path, required: true, schema: { type: string, pattern: '^20[0-9]{2}-(0[1-9]|1[0-2])$' } }
        - { name: direccion, in: query, required: true, schema: { type: string, enum: [trasladado, acreditable] } }
        - { name: origen, in: query, required: true, schema: { type: string, enum: [contado, credito, notas_credito, no_considerados, reasignados] } }
        - { name: factor, in: query, schema: { type: number, minimum: 0, maximum: 1, default: 1 } }
      responses:
        '200':
          description: Libro de Excel
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema: { type: string, format: binary }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: periodo, direccion, origen o factor invalidos, o mas de 50,000 renglones

  # ============================================================
  # DASHBOARD
  # ============================================================

  /api/v1/dashboard/{empresa_id}:
    get:
      operationId: getDashboard
      tags: [Dashboard]
      summary: Dashboard consolidado de indicadores fiscales
      description: |
        Retorna una vista consolidada con:
        - Datos de la empresa
        - Score fiscal actual (o del periodo solicitado)
        - Riesgos abiertos con resumen por severidad
        - Tendencia historica de scores
        - Indicadores de brechas entre CFDIs y movimientos bancarios
      parameters:
        - name: empresa_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la empresa
        - name: periodo
          in: query
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
          description: Periodo YYYY-MM (si se omite, usa el mas reciente)
          example: "2024-01"
      responses:
        '200':
          description: Dashboard consolidado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
              example:
                empresa:
                  id: "a1b2c3d4-0001-0001-0001-000000000001"
                  rfc: "XAXX010101000"
                  razon_social: "Empresa Ejemplo SA de CV"
                score_actual:
                  score_total: 82.5
                  clasificacion: "A"
                  periodo: "2024-01"
                riesgos_abiertos: []
                resumen_riesgos:
                  critico: 0
                  alto: 1
                  medio: 2
                  bajo: 1
                  monto_total_en_riesgo: 35000.00
                tendencia_score:
                  - periodo: "2023-12"
                    score: 79.0
                  - periodo: "2024-01"
                    score: 82.5
                indicadores:
                  ingresos_cfdi: 250000.00
                  egresos_cfdi: 85000.00
                  depositos_banco: 255000.00
                  cargos_banco: 90000.00
                  brecha_ingresos: 5000.00
                  brecha_egresos: 5000.00
                  pct_conciliacion: 84.4
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================================
  # SAT FIEL
  # ============================================================

  /api/v1/sat/solicitar:
    post:
      operationId: solicitarDescargaSAT
      tags: [SAT FIEL]
      summary: Solicitar descarga masiva al SAT
      description: |
        Envia una solicitud de descarga masiva de CFDIs al SAT usando la
        e.firma (FIEL) del contribuyente.

        **Flujo recomendado**:
        1. POST /solicitar — crear solicitud
        2. POST /solicitudes/{id}/verificar — verificar estado (puede tomar minutos)
        3. POST /solicitudes/{id}/descargar — descargar cuando este lista

        O bien usar POST /empresas/{id}/fiel/sync para el ciclo automatico.

        **Tipos**: emitidos | recibidos
        **Estado comprobante**: Vigente | Cancelado | Todos
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [empresa_id, tipo, fecha_inicio, fecha_fin, cer_file, key_file, password]
              properties:
                empresa_id:
                  type: string
                  format: uuid
                  description: ID de la empresa
                tipo:
                  type: string
                  enum: [emitidos, recibidos]
                  description: Tipo de CFDIs a descargar
                fecha_inicio:
                  type: string
                  format: date
                  description: Fecha de inicio del periodo (YYYY-MM-DD)
                  example: "2024-01-01"
                fecha_fin:
                  type: string
                  format: date
                  description: Fecha de fin del periodo (YYYY-MM-DD)
                  example: "2024-01-31"
                estado_comprobante:
                  type: string
                  enum: [Vigente, Cancelado, Todos]
                  default: Vigente
                  description: Estado de los comprobantes a descargar
                cer_file:
                  type: string
                  format: binary
                  description: Archivo .cer del certificado de la FIEL
                key_file:
                  type: string
                  format: binary
                  description: Archivo .key de la llave privada de la FIEL
                password:
                  type: string
                  description: Contrasena de la llave privada FIEL
      responses:
        '200':
          description: Solicitud enviada al SAT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolicitudSATResponse'
              example:
                solicitud_id: "sol-uuid-0001"
                id_solicitud_sat: "SAT-UUID-XXXX"
                estado: solicitado
                mensaje: "Solicitud enviada al SAT. Usa /verificar para consultar el estado."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          description: FIEL invalida o no se pudo cargar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Error en la comunicacion con el SAT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "Error SAT: Certificado vencido"

  /api/v1/sat/solicitudes:
    get:
      operationId: listarSolicitudesSAT
      tags: [SAT FIEL]
      summary: Listar solicitudes de descarga masiva
      description: |
        Lista las ultimas 20 solicitudes de descarga masiva del SAT
        para la empresa especificada.
      parameters:
        - name: empresa_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la empresa
      responses:
        '200':
          description: Lista de solicitudes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SolicitudSAT'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/sat/solicitudes/{solicitud_id}/verificar:
    post:
      operationId: verificarSolicitudSAT
      tags: [SAT FIEL]
      summary: Verificar estado de solicitud en el SAT
      description: |
        Consulta el estado actual de una solicitud de descarga masiva en el SAT
        y actualiza el registro local.

        **Estados posibles**: en_proceso, terminado, fallo
      parameters:
        - name: solicitud_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la solicitud local
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [cer_file, key_file, password]
              properties:
                cer_file:
                  type: string
                  format: binary
                key_file:
                  type: string
                  format: binary
                password:
                  type: string
      responses:
        '200':
          description: Estado actualizado de la solicitud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificacionSATResponse'
              example:
                solicitud_id: "sol-uuid-0001"
                estado: terminado
                num_cfdi: 47
                num_paquetes: 2
                id_paquetes: ["pkg-uuid-001", "pkg-uuid-002"]
                mensaje: ""
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '502':
          $ref: '#/components/responses/GatewayError'

  /api/v1/sat/solicitudes/{solicitud_id}/descargar:
    post:
      operationId: descargarCFDISAT
      tags: [SAT FIEL]
      summary: Descargar paquetes ZIP del SAT e importar CFDIs
      description: |
        Descarga los paquetes ZIP del SAT en background, extrae los XMLs
        e importa los CFDIs a la base de datos. Al terminar ejecuta el
        pipeline completo (conciliacion + riesgos + scoring).

        La respuesta es inmediata (la descarga ocurre en background).
        Consultar el estado de la solicitud para saber cuando termino.
      parameters:
        - name: solicitud_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la solicitud
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [cer_file, key_file, password, id_paquetes]
              properties:
                cer_file:
                  type: string
                  format: binary
                key_file:
                  type: string
                  format: binary
                password:
                  type: string
                id_paquetes:
                  type: string
                  description: Array JSON con los IDs de paquetes a descargar
                  example: '["pkg-uuid-001", "pkg-uuid-002"]'
      responses:
        '200':
          description: Descarga iniciada en background
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                  paquetes:
                    type: integer
                  solicitud_id:
                    type: string
              example:
                mensaje: "Descarga iniciada en background"
                paquetes: 2
                solicitud_id: "sol-uuid-0001"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/UnprocessableError'

  /api/v1/sat/empresas/{empresa_id}/fiel/guardar:
    post:
      operationId: guardarFIEL
      tags: [SAT FIEL]
      summary: Guardar FIEL cifrada para la empresa
      description: |
        Guarda la e.firma (FIEL) del contribuyente de forma cifrada en la base
        de datos. Permite luego usar el sync automatico sin subir la FIEL
        manualmente cada vez. Reemplaza cualquier FIEL previa.

        La llave privada se almacena cifrada. La contrasena NO se guarda.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [cer_file, key_file, password]
              properties:
                cer_file:
                  type: string
                  format: binary
                  description: Archivo .cer del certificado de la FIEL
                key_file:
                  type: string
                  format: binary
                  description: Archivo .key de la llave privada de la FIEL
                password:
                  type: string
                  description: Contrasena de la llave privada FIEL
      responses:
        '200':
          description: FIEL guardada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FIELGuardadaResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/UnprocessableError'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/sat/empresas/{empresa_id}/fiel/estado:
    get:
      operationId: estadoFIEL
      tags: [SAT FIEL]
      summary: Consultar estado de la FIEL guardada
      description: |
        Retorna los metadatos de la FIEL guardada para la empresa (rfc, vigencia,
        numero de certificado) sin exponer las credenciales.

        Si no hay FIEL guardada, retorna {"tiene_fiel": false}.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Metadatos de la FIEL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FIELEstadoResponse'
              example:
                tiene_fiel: true
                rfc: "XAXX010101000"
                numero_certificado: "00001000000504465028"
                vigencia_inicio: "2022-01-01"
                vigencia_fin: "2026-01-01"
                vencida: false
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/sat/empresas/{empresa_id}/fiel:
    delete:
      operationId: eliminarFIEL
      tags: [SAT FIEL]
      summary: Eliminar FIEL guardada de la empresa
      description: Elimina la FIEL cifrada almacenada para la empresa.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Resultado de la eliminacion
          content:
            application/json:
              schema:
                type: object
                properties:
                  eliminada:
                    type: boolean
              example:
                eliminada: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/sat/empresas/{empresa_id}/fiel/sync:
    post:
      operationId: syncCompletoFIEL
      tags: [SAT FIEL]
      summary: Sincronizacion automatica completa via FIEL guardada
      description: |
        Ejecuta el ciclo completo de descarga del SAT de forma automatica
        usando la FIEL previamente guardada:

        1. Solicita descarga al SAT
        2. Verifica en loop cada 30 segundos (maximo 30 minutos)
        3. Descarga paquetes ZIP e importa CFDIs
        4. Ejecuta pipeline completo (conciliacion + riesgos + scoring)

        Todo ocurre en background. Requiere FIEL guardada y vigente.

        **Tipo**: emitidos | recibidos | ambos. Cada tipo se pide por separado:
        si el SAT rechaza uno, el otro se sigue pidiendo y el rechazo llega en
        `errores` (responde 502 solo si no se aceptó ninguno; 409 si todos los
        tipos pedidos ya tienen una descarga en curso para ese periodo).

        **Solicitudes agotadas (CodEstatus 5002)**: el SAT limita de por vida
        las solicitudes con las mismas fechas y RFC. Si rechaza el mes
        completo, se vuelve a pedir partido en dos rangos contiguos (corte el
        dia 15, distinto en cada intento), que cubren el mes segundo a segundo;
        el mes queda en dos solicitudes de ese tipo.

        **Tope maximo (CodEstatus 5003, mas de 200,000 CFDI)**: la solicitud se
        parte en dos mitades por fecha, recursivamente hasta un dia.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [tipo, periodo]
              properties:
                tipo:
                  type: string
                  enum: [emitidos, recibidos, ambos]
                  description: Tipo de CFDIs a sincronizar
                periodo:
                  type: string
                  pattern: '^\d{4}-\d{2}$'
                  description: Periodo fiscal YYYY-MM
                  example: "2024-01"
      responses:
        '200':
          description: Sync iniciado en background
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncIniciadoResponse'
              example:
                mensaje: "Sync iniciado para 2 tipo(s). Se verificara y descargara automaticamente."
                solicitudes:
                  - id: "sol-uuid-0001"
                    tipo: emitidos
                  - id: "sol-uuid-0002"
                    tipo: recibidos
                periodo: "2024-01"
                tipos: [emitidos, recibidos]
                errores: []
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          description: Sin FIEL guardada o FIEL vencida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "No hay FIEL guardada para esta empresa. Guardala primero."
        '409':
          $ref: '#/components/responses/ConflictError'
        '502':
          $ref: '#/components/responses/GatewayError'

  /api/v1/sat/empresas/{empresa_id}/sync/estado:
    get:
      operationId: estadoSyncSAT
      tags: [SAT FIEL]
      summary: Estado de la descarga automatica de la empresa
      description: |
        Estado de la descarga automatica de XML del SAT: si esta activa, en que
        estado esta (inactiva, sincronizando, al_dia, pausada, error), ultima y
        proxima corrida, quien dio el consentimiento y el progreso de la corrida
        en curso. Sin configuracion devuelve el estado "inactiva". Nunca incluye
        datos de la e.firma.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Estado de la descarga automatica
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEstadoResponse'
              example:
                activa: true
                estado: sincronizando
                motivo_pausa: null
                ultima_exitosa: null
                proxima_corrida: "2026-10-04T02:10:00+00:00"
                carga_inicial_ok: false
                consentimiento_por: "6f1c7a58-0b7e-4f0e-9d63-8a3a3d1d2a11"
                consentimiento_el: "2026-10-04T02:10:00+00:00"
                progreso: {total: 44, terminadas: 12, fallidas: 0}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/sat/empresas/{empresa_id}/sync/config:
    put:
      operationId: configurarSyncSAT
      tags: [SAT FIEL]
      summary: Activar o desactivar la descarga automatica
      description: |
        Activa o desactiva la descarga automatica de la empresa. **Activar exige
        `consentimiento: true`**: el sistema usara la e.firma guardada sin
        intervencion de una persona. Tambien exige una e.firma guardada y vigente.
        Quien activa y cuando queda registrado, y cada cambio en `auditoria`.
        Activar una empresa que ya esta activa no reinicia la corrida en curso.
        La carga inicial (ejercicio anterior y en curso) la crea el worker en su
        siguiente ciclo. Limite: 10 por minuto.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activa]
              properties:
                activa:
                  type: boolean
                consentimiento:
                  type: boolean
                  default: false
                  description: Obligatorio en true para activar
            example:
              activa: true
              consentimiento: true
      responses:
        '200':
          description: Estado resultante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEstadoResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: Falta el consentimiento, o no hay e.firma guardada y vigente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "La e.firma guardada esta vencida. Actualizala."

  /api/v1/sat/empresas/{empresa_id}/sync/ahora:
    post:
      operationId: syncAhoraSAT
      tags: [SAT FIEL]
      summary: Actualizar ahora (forzar una corrida)
      description: |
        Adelanta la proxima corrida para que el worker la tome en su siguiente
        ciclo. Requiere la descarga automatica activa y una e.firma vigente; si ya
        hay una corrida en curso responde 409. Queda en `auditoria`. Limite: 5 por
        minuto.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Estado resultante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEstadoResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          description: La descarga automatica no esta activa, o no hay e.firma vigente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sat/empresas/{empresa_id}/fiel/sync/avanzar:
    post:
      operationId: avanzarSyncFIEL
      tags: [SAT FIEL]
      summary: Dar una pasada a las descargas en curso
      description: |
        Verifica en el SAT cada solicitud en curso de la empresa usando la FIEL
        guardada y, si ya esta lista, descarga sus paquetes e importa los CFDIs
        dentro de la misma llamada.

        Complementa a `/fiel/sync` en entornos donde el proceso no sobrevive al
        request (serverless) y el loop en background se corta: el frontend lo
        llama periodicamente mientras haya descargas en curso.

        Es seguro llamarlo varias veces: cada solicitud se verifica en el SAT
        como mucho una vez cada 20 segundos y solo una pasada hace la descarga.
        Una importacion sin avance durante 10 minutos se considera interrumpida
        y se retoma desde el primer paquete sin importar. Si un paquete no se
        puede descargar, la solicitud se queda en `terminado` (con el motivo en
        `error_msg`) y se reintenta en la siguiente pasada; tras 3 intentos
        fallidos del mismo paquete la solicitud queda en `fallo`.

        Al terminar se cuadran los CFDI importados contra los que reporto el
        SAT: si faltan, la solicitud queda `descargado` con el aviso de descarga
        incompleta en `error_msg`. Si el SAT no encontro CFDI en el periodo
        (CodigoEstadoSolicitud 5004), queda `descargado` con cero CFDI.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Estado en que quedo cada solicitud atendida en esta pasada
          content:
            application/json:
              schema:
                type: object
                required: [avanzadas]
                properties:
                  avanzadas:
                    type: array
                    items:
                      type: object
                      required: [id, estado]
                      properties:
                        id:
                          type: string
                          format: uuid
                        estado:
                          type: string
                          enum: [solicitado, en_proceso, terminado, descargado, fallo]
              example:
                avanzadas:
                  - id: "sol-uuid-0001"
                    estado: descargado
                  - id: "sol-uuid-0002"
                    estado: en_proceso
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: Sin FIEL guardada o FIEL que no se pudo cargar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: "No hay FIEL guardada para esta empresa"

  # ============================================================
  # ADMIN
  # ============================================================

  /api/v1/admin/usuarios:
    get:
      operationId: listarUsuariosAdmin
      tags: [Admin]
      summary: Listar usuarios de la plataforma
      description: Lista todos los usuarios con sus empresas vinculadas. Requiere rol admin.
      responses:
        '200':
          description: Lista de usuarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsuarioAdmin'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/admin/usuarios/{user_id}:
    patch:
      operationId: actualizarUsuarioAdmin
      tags: [Admin]
      summary: Activar/desactivar usuario o cambiar su rol
      description: Requiere rol admin. Un admin no puede quitarse su propio rol admin.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activo:
                  type: boolean
                  nullable: true
                rol:
                  type: string
                  enum: [admin, contador]
                  nullable: true
      responses:
        '200':
          description: Usuario actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioAdmin'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/v1/admin/stats:
    get:
      operationId: statsAdmin
      tags: [Admin]
      summary: Estadísticas generales de la plataforma
      description: Requiere rol admin.
      responses:
        '200':
          description: Conteos generales
          content:
            application/json:
              schema:
                type: object
                properties:
                  usuarios_activos: { type: integer }
                  admins: { type: integer }
                  empresas_activas: { type: integer }
                  cfdi_total: { type: integer }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/admin/metricas:
    get:
      operationId: metricasAdmin
      tags: [Admin]
      summary: Métricas globales del sistema
      description: Requiere rol admin.
      responses:
        '200':
          description: Métricas agregadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_usuarios: { type: integer }
                  usuarios_activos: { type: integer }
                  total_empresas: { type: integer }
                  total_cfdi: { type: integer }
                  total_riesgos: { type: integer }
                  riesgos_criticos: { type: integer }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================================
  # MOVIMIENTOS Y CATEGORIAS
  # ============================================================

  /api/v1/admin/reprocesar-cfdi:
    post:
      operationId: reprocesarCfdiAdmin
      tags: [Admin]
      summary: Reprocesar el detalle fiscal de los CFDI almacenados
      description: >
        Requiere rol admin. Vuelve a leer el XML guardado de los CFDI sin detalle
        (impuestos por tasa, conceptos, impuestos de cada pago) por lotes. Llamar
        hasta que `pendientes` sea 0.
      parameters:
        - name: limite
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 5000, default: 500 }
      responses:
        '200':
          description: Resumen del lote
          content:
            application/json:
              schema:
                type: object
                properties:
                  procesados: { type: integer }
                  pendientes: { type: integer }
                  errores:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid: { type: string }
                        error: { type: string }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          description: Límite fuera de rango

  /api/v1/empresas/{empresa_id}/movimientos/cuentas:
    get:
      operationId: listarCuentasMovimientos
      tags: [Movimientos]
      summary: Cuentas/bancos cargados
      description: Cuentas bancarias con conteo de movimientos, para construir pestañas en el frontend.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Cuentas encontradas
          content:
            application/json:
              schema:
                type: object
                properties:
                  cuentas:
                    type: array
                    items:
                      type: object
                      properties:
                        banco: { type: string }
                        cuenta: { type: string }
                        total: { type: integer }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/empresas/{empresa_id}/movimientos:
    get:
      operationId: listarMovimientos
      tags: [Movimientos]
      summary: Listar movimientos bancarios
      description: Lista movimientos con la subcategoría sugerida calculada por el motor de categorización.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: banco, in: query, schema: { type: string } }
        - { name: cuenta, in: query, schema: { type: string } }
        - { name: tipo, in: query, schema: { type: string } }
        - { name: conciliado, in: query, schema: { type: boolean } }
        - { name: categoria, in: query, schema: { type: string } }
        - { name: q, in: query, schema: { type: string }, description: Búsqueda en concepto/RFC detectado }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 1000, default: 200 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Movimientos y resumen agregado
          content:
            application/json:
              schema:
                type: object
                properties:
                  movimientos:
                    type: array
                    items:
                      type: object
                  total: { type: integer }
                  resumen:
                    type: object
                    properties:
                      total: { type: integer }
                      total_depositos: { type: string }
                      total_retiros: { type: string }
                      conciliados: { type: integer }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/empresas/{empresa_id}/movimientos/{mov_id}:
    patch:
      operationId: actualizarMovimiento
      tags: [Movimientos]
      summary: Corregir RFC detectado o categoría de un movimiento
      description: Al confirmar una categoría, refuerza reglas de categorización automática por RFC y por concepto normalizado.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: mov_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rfc_detectado: { type: string, nullable: true }
                categoria_id: { type: string, format: uuid, nullable: true }
      responses:
        '200':
          description: Movimiento actualizado
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/v1/empresas/{empresa_id}/categorias:
    get:
      operationId: listarCategorias
      tags: [Movimientos]
      summary: Listar categorías de movimientos de la empresa
      description: Siembra categorías/reglas base automáticamente si la empresa aún no tiene ninguna.
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      responses:
        '200':
          description: Categorías de la empresa
          content:
            application/json:
              schema:
                type: object
                properties:
                  categorias:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoriaMovimiento'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      operationId: crearCategoria
      tags: [Movimientos]
      summary: Crear categoría de movimientos
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre]
              properties:
                nombre: { type: string }
                tipo: { type: string, enum: [deposito, retiro, ambos], default: ambos }
                color: { type: string, default: "#6B7280" }
      responses:
        '200':
          description: Categoría creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriaMovimiento'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /api/v1/empresas/{empresa_id}/categorias/{cat_id}:
    patch:
      operationId: actualizarCategoria
      tags: [Movimientos]
      summary: Actualizar categoría de movimientos
      parameters:
        - $ref: '#/components/parameters/EmpresaId'
        - { name: cat_id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre: { type: string, nullable: true }
                tipo: { type: string, enum: [deposito, retiro, ambos], nullable: true }
                color: { type: string, nullable: true }
      responses:
        '200':
          description: Categoría actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriaMovimiento'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
[...]
